@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://github.com/vercel/next.js/discussions/41745#discussioncomment-3964086 */
@layer base {
  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
}

:root {
  --primary-color: #0e7490;
}

/* Override default focus colors for tailwindcss-forms https://github.com/tailwindlabs/tailwindcss-forms */
[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='checkbox']:focus,
[type='radio']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: var(--primary-color);
  border-color: var(--primary-color);
}
